
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* glovel-section  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared section  */
.primary-btn{
    padding: 12px 16px ;
    border-radius: 20px;
    background: linear-gradient(#F7E93F, #FB09B4,#9100F8);
    color: white;
    
}
.primary-btn:hover{
    font-size: large;
    
}
.dark-btn:hover{
    font-size: large;
}

.primary-color{
    font-size: 3.7rem;
    font-weight: 800;
}


body{
    font-family: "Inter", sans-serif;
    background-color:#0f0640;
}

.nav-container{
    max-width: 1600px;
    width: 1200px;
    margin: 24px auto 0;
    display: flex;
    justify-content: space-around;
    color: white;
}
.nav-container>ul{
    display:flex;
    align-items: center;
    gap:32px;
}
.nav-container>ul,a{
    list-style: none;
    text-decoration: none;
    color:white;
    
}
.nav-container .logo .pink{
    background: linear-gradient(#F7E93F, #FB09B4,#9100F8);
    color: transparent;
    background-clip: text;
}
.nav-container .hamburger{
    display: none;
}

/* banner-section  */

.banner-section{
    max-width: 1600px;
    margin:0 auto ;
    
    
}
.banner-img{
  
   background-repeat: no-repeat;
   background-image: url(./assets/hero-bg.png);
   position: relative;

}
.hero-circle{
    text-align: center;
    padding-top:80px;
    padding-left:50px;
    justify-content: center;
    top:50px;
  
    
}

.new{
position: absolute;
right: 600px;
top:100px;
background-color: rgb(102, 255, 102);
padding: 8px 16px;
border-radius: 20px;

}
.microphone{
    position: absolute;
    top:155px;
    right:600px;
    left:650px;

}

.banner-description{
    color: white;
    text-align: center;
    padding-left:50px;
    margin-top: 40px;
    transform:width 5s;
}
.banner-description p{
    margin-top: 8px;
    font-size: small;
}
.banner-description p:hover{
    font-size: large;

}

.twin{
    margin-top: 24px;
}
.spotify{
    padding: 12px 20px;
}
.spotify i{
    padding-right:20px;
}
.dark-btn{
    color: rgb(35, 205, 35);
    font-weight: 600;
    padding: 12px 20px;
    border: 2px solid green;
    border-radius: 20px;
    background-color: black;
}
.dark-btn img{
  position:relative;
  bottom:-2px;
  padding-right: 5px;
  
}
/* about-section  */
.about-section{
    max-width: 1600px;
    width: 1200px;
    margin: 50px auto ;
    color:white;
}
.about-section:hover{
    transform: width 5s;
}
.about-details{
    text-align: center;
}
.about-details p{
    margin-top: 16px;
    font-size: small;
    line-height: 20px;
}
.about-details p:hover{
    font-size: large;

}
.about-resume{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    
}
.about-resume .card{
    gap:80px;
}
.about-resume h1{
    color: rgb(46, 212, 46);
    font-size: 3rem;
}
.about-resume p{
    margin-top: 16px;
    font-size: small;
    line-height: 20px;
}
/* grid-section  */

  .grid-section{
    max-width: 1600px;
    width: 1200px;
    margin: 0 auto;
    color: white;
  }
  .grid-section>h1{
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }
  .grid-container{
    gap:30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);
    transition: width 5s;
  }
  .grid-container> .layout{
    background-color: rgba(53, 17, 101, 0.4);
    align-content: center;
    border-radius: 40px;
    padding:20px 40px;
    
  }
  .grid-container> .layout img{
    width:40px;
    height:40px;
    margin-bottom: 16px;
  }
  .grid-container> .layout h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .grid-container> .layout p{
    color:rgba(255, 255, 255, 0.571);
    font-size:small;
  }
  .grid-container> .layout p:hover{
    font-size: large;
  }

  .layout-1{
   grid-column: span 1;
   grid-row: span 2;

  }
  .layout-1:hover{
    width: 800px;
    background-color: rgb(135, 124, 124);
    
    
  }
  
  .layout-2{
    grid-column: span 2;
    grid-row: span 1;
  }
  .layout-2:hover{
    background-color: rgb(135, 124, 124);
    width: 800px; 
  }
  .layout-3{
    grid-column: span 2;
    grid-row: span 1;
  }
  .layout-3:hover{
    background-color: rgb(135, 124, 124);
    width: 800px;
  }
  .layout-4{
    grid-column: span 2;
    grid-row: span 1;
  }
  .layout-4:hover{
    background-color: rgb(135, 124, 124);
    width: 800px;
  }
  
  .layout-5{
    grid-column: span 1;
    grid-row: span 1;
  }
  .layout-5:hover{
    background-color: rgb(135, 124, 124);
  }
  .layout-5:hover{
    width:500px;
    background-color: rgb(135, 124, 124);
  }


  /* episode section  */
.episode-section {
    max-width: 1600px;
    width: 1200px;
    margin: 0 auto;
    color: white; 
    transform: width 5s;
}
.episode-section h1{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
    font-size: 3rem;
    font-weight: bold;
}
.episode-container {
    display: flex;
    justify-content: space-between;
}
.episode>iframe{
    width: 380px;
    height:214px;
    border-radius: 24px 24px 0px 0px;
}
.episode{
    
    padding-right: 30px;
   
}
.episode-details{
    padding-left: 24px;
    background-color:rgba(53, 17, 101, 0.4);
}
.episode h5{
    margin-top: 24px;
    font-size: 1.5rem;
    font-weight: bold;

}
.episode p{
    font-size:small;
    color: rgba(255, 255, 255, 0.367);
    margin-bottom: 14px;
    line-height: 24px;
}
.episode p:hover{
    margin-top: 20px;
    font-size: large;
}
.episode .red{
    display: flex;
    align-items: center;
    padding-bottom:24px;
    font-size:larger;
    color: rgb(87, 233, 87);
}
.episode img{
    width: 20px;
    height: 20px;
    margin-right:10px;
   
}
  /* host section  */
   
.host-section{
    max-width: 1600px;
    width: 1200px;
    margin: 0 auto;
    color: white; 
    transform:width 5s;
}
.host-section h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 120px;
}
.host-container{
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    margin-top: 40px;
}
.host-img{
    padding: 40px 24px 40px 40px;
}
.host-description{
    padding: 40px 40px 40px 0;
}
.host-description h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom:16px;
}
.host-description p{
 color: rgba(255, 255, 255, 0.584);
 line-height: 24px;
 margin-bottom:16px;

}
.host-description p:hover{
    font-size: x-large;
    color:#eb5a83c2;
    line-height: 35px;
    margin:20px 0;
}
.icon img{
    margin-right: 8px;
    width: 35px;
    height:35px;
    padding:10px;
    border-radius: 50%;
    border: 1px solid rgb(200, 192, 210);
}

/* footer section  */

footer .logo .pink{
    background: linear-gradient(#F7E93F, #FB09B4,#9100F8);
    color: transparent;
    background-clip: text;
    
}
.footer-container{
    width: 1600px;
    height:250px;
    background-color:yellow;
    background-image: url(./assets/footer-bg.png);
    align-items: center;
    align-content: center;
    background-position: center;
}
.footer-container>.logo{
    margin-top: 50px;
    color: white;
    text-align: center;
    
}
.spons{
    display: flex;
    color: white;
    justify-content: center;
    gap:40px;
    margin-top: 32px;
}
.spons .hello{
    font-size:small;
    color: rgba(255, 255, 255, 0.479);
    display: flex;
    align-items: center;
   
    
}
.spons img{
   width: 20px;
   height: 20px;
   
}
hr{
    margin-top: 50px;
    border: 1px solid rgb(86, 77, 77);
}
.copyright{
    color: white;
    text-align: center;
    margin-top:20px;
    font-size:x-small;
    color: rgba(255, 255, 255, 0.437);
    
}

/* responsive section  */

/* for-madium-device  */

@media screen and (max-width:576px) {
      .nav-container{ 
       max-width:100%;
        width:90%;
        margin:10px auto;
        align-items: center;
        justify-content:space-between;
    }
    .nav-container>ul{
        display:none;
       
    }
    .nav-container>.primary-btn{
        display: none;
    }
    .nav-container .hamburger{
        display: flex;
        width: 20px;
        height: 20px;
        
    }
    .banner-img{
        background-size:100%;
       
     }
     .banner-container{
        position:relative;
     }
     .hero-circle img{
        position: relative;
        width: 40%;
        top:-70px;
        left:-25px;
     }
     .microphone{
        width: 30%;
        position:relative;
        top:-155px;
        left: 175px;
        
     }
     .new{
        position: relative;
        right:-330px;
        top:-350px;
        
        }
    
     .banner-description{
        color: white;
        text-align: center;
        padding-left:30px;
        transform:width 5s;
        position: relative;
        top:-150px;
        left:-5px;
     }
     .banner-description h1{
        font-size: 2rem;
     }
     .banner-description .primary-btn{
       padding: 10px;
     }
     .banner-description .dark-btn{
        padding: 8px;
     }
     
     .about-section{
        width:100%;
        margin: -80px auto ;
        color:white;
        text-align: center;
    }
   
    .about-resume{
       display:grid;
       grid-template-columns: repeat(2,1fr);
       margin: 50px auto ;
        
    }
     
    .grid-section{
        max-width: 100%;
        width: 100%;
    }
    .grid-section h1{
        font-size: 2rem;
        padding-top: 50px;
       
    }
    .grid-container{
        gap:15px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        transition: width 5s;
      }
      .grid-container,.layout{
        background-color: rgba(53, 17, 101, 0.4);
        align-content: center;
        border-radius: 40px;
        padding:20px;
      }
      
     .layout-1,.layout-2,.layout-3,.layout-4,.layout-5{
        grid-column: span 1;
        grid-row: span 1;
       
     }
     .layout-1:hover{
        width: 500px;
        font-size:small;
        background-color: rgb(135, 124, 124);
        margin-left: 10px;
        
        
      }
      .layout-2:hover{
        width: 500px;
        background-color: rgb(135, 124, 124);
        margin-left: 10px;
        
      }
     
    .layout-3:hover{
        width: 500px;
        background-color: rgb(135, 124, 124);
        margin-left: 10px;
    }
    .layout-4:hover{
        width: 500px;
        background-color: rgb(135, 124, 124);
        margin-left: 10px;
    }
    .layout-5:hover{
        width: 500px;
        background-color: rgb(135, 124, 124);
        margin-left: 10px;
    }
    .episode-section {
        max-width:100%;
        width: 100%;
        transform: width 5s;
      
    }
    .episode-container{
        flex-direction: column;
        padding: 20px 75px;
    }
    .episode>iframe{
        width: 375px;
        height:240px;
        border-radius: 24px 24px 0px 0px;
    }
    .episode{
        margin-bottom: 30px;
    }
    .episode-details{
        padding-left: 14px;
        background-color:rgba(53, 17, 101, 0.4);
    }

    .host-section{
        max-width:100%;
        width: 100%;
        transform: width 5s;
    }
    .host-section h1{
        
        font-size: 2rem;
        font-weight: bold;
        margin-top:20px;
    }
    .host-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .host-img{
       padding-left: 160px;
       padding-top: 80px;
    }
    .host-description{
        text-align: center;
        padding-left: 20px;
    }
    .host-description h3{
        font-size: 2rem;
    }
    footer .footer-container{
        max-width:100%;
        width: 100%;
        transform: width 5s;
    }
    .spons{
        display:grid;
        grid-template-columns: repeat(2,2fr);
        padding-left: 100px;
     } 
   .copyright{
    padding-bottom: 20px;
    }
}

/* responsive for large device  */

@media screen and (min-width:992px) and (max-width:1400px){

    .nav-container{ 
       max-width:100%;
       width:100%;
       margin:10px auto;
       align-items: center;
       justify-content:space-between;
    }
    .banner-img{
        background-size:100%;
       
     }
     .banner-container{
        position:relative;
     }
     .hero-circle img{
        position: relative;
        width: 40%;
        top:-70px;
        left:-25px;
     }
     .microphone{
        width: 30%;
        position: relative;
        top:-260px;
        left: 325px;
        
     }
     .new{
        position: relative;
        right:-580px;
        top:-600px;
        }
        .banner-description{
            color: white;
            text-align: center;
            padding-left:30px;
            transform:width 5s;
            position: relative;
            top:-150px;
            left:-5px;
         }
         .about-section{
        
            width:100%;
            margin: -80px auto ;
            color:white;
            text-align: center;
        }
        .grid-section h1{
            padding-bottom: 50px;
            padding-top: 50px;
           
        }
        .about-resume{
            width: 80%;
            margin: 50px auto ;
             
         }
         .grid-section{
            max-width: 100%;
            width: 80%;
        }
        .layout-1:hover{
            width: 800px;
            background-color: rgb(135, 124, 124);
            margin-left: 10px;
            
            
          }
          .layout-2:hover{
            width: 800px;
            background-color: rgb(135, 124, 124);
            margin-left: 10px;
            
          }
         
        .layout-3:hover{
            width: 800px;
            background-color: rgb(135, 124, 124);
            margin-left: 10px;
        }
        .layout-4:hover{
            width: 800px;
            background-color: rgb(135, 124, 124);
            margin-left: 10px;
        }
        .layout-5:hover{
            width: 500px;
            background-color: rgb(135, 124, 124);
            margin-left: 10px;
        }
        .episode-section {
            max-width:100%;
            width: 100%;
            transform: width 5s;
            padding-left:8px;
          
        }
        
        .episode>iframe{
            width: 300px;
            height:180px;
            border-radius: 24px 24px 0px 0px;
            
        }
        .host-section{
            max-width:100%;
            width: 100%;
            transform: width 5s;
        }
        .host-section h1{
            margin-top:70px;
        }
        footer .footer-container{
            max-width:100%;
            width: 100%;
            transform: width 5s;
        }
        
       
}

